rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /groups/{groupId} {
      function isInGroup() {
        return groupId == request.auth.uid
      }
      allow read, write: if isInGroup();

      match /iccas/{iccaId} {
        allow read: if isInGroup() || resource.data.public == true;
        allow write: if isInGroup();
      }
    }
  }
}
